@model List<UserRolesVM>





<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Fullname</th>
            <th scope="col">Email</th>
            <th scope="col">Username</th>
            <th scope="col">Roles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
         {
            <tr>
                <td>@item.FullName</td>
                <td>@item.Email</td>
                <td>@item.Username</td>
                <td>@item.Roles</td>
            </tr>
         }

    </tbody>
</table>

